{% extends 'template.html' %}

{% block stylesheet %}
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
{% endblock %}

{% block content %}

  <main role="main" class="inner cover">
      <img class="cover-img" src="static/images/ProfilePlaceholderSuit.png">
      <h1 class="cover-heading">{{job_role}}</h1>
      <p class="lead">{{intro_text|safe}}</p>
      <p class="lead">
        <a href="experience" class="btn btn-lg btn-secondary">My Experience</a>
      </p>
  </main>

{% endblock %}
