@import url("styles.css");

/*
 * Cover
 */

.cover-container {
  width: 60em;
}

.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.cover-img {
  border-radius: 50%;
  width:50%;
}